{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Orders Record</h3>
    </div>
    <div class="card-body">
<form action="/consults/consult5" method="POST">
        <div class="form-group">
          <input type="text" name="clientUsername" class="form-control" placeholder="Username" autofocus/>
        </div>
    
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Search
          </button>
          <br>
          
         <a href="/clientM">Menu</a>
        </div>
      </form>

         </div>
  </div>
</div>

<br>
<br>