<div class="row">
    {{#each products}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                   <b> Product </b>
                </h3>
                <p>Id Product: {{idProduct}}</p>
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p> 
               
                <div class="form-group">
                     <input type="Number" name="quant" class="form-control" placeholder="Quantity" autofocus/>
                </div>
 
                <form action="/orders/addP/{{_id}}/" method="POST">
                    <input type="hidden" name="_method">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">
                            Purchase 
                        </button>
                </form> 
                 <form action="/orders/all">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">
                            Ready
                        </button>
                </form> 
            </div>
        </div>
    </div>
    {{/each}}
</div>
