<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Crear Pedidos</h3>
    </div>
    <div class="card-body">
      <form action="/vuelos/nuevo" method="POST">
        <div class="form-group">
          <input type="text" name="idPedido" class="form-control" placeholder="idPedido" autofocus/>
        </div>
        <div class="form-group">
          <input type = "text" name ="idProducto" class="form-control" placeholder="idProducto" autofocus/>
        </div>
        <div class="form-group">
          <input type ="text" name="cantidad"class="form-control" placeholder="Cantidad" autofocus/>
        </div>
        <div class = "form-group">
            <input type = "text" name ="precio" class= "form-control" placeholder="Precio" autofocus/>
        </div>
        <div class = "form-group">
            <input type = "date" name ="fecha" class= "form-control" placeholder="Fecha" autofocus/>
        </div>
        <div class = "form-group">
            <input type = "text" name = "hora" class= "form-control" placeholder="Hora" autofocus/>
        </div>
        <div class = "form-group">
            <input type = "date" name = "estado" class= "form-control" placeholder="Estado" autofocus/>
        </div>
        <div class = "form-group">
            <input type = "text" name = "necesidades" class= "form-control" placeholder="Necesidades" autofocus/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Crear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>
