<link rel="stylesheet" href="/css/menu.css">
    <div class="jumbotron text-center">
      <div class="container">
        
        <h1>Welcome Employee</h1>
        <p style="color:#888;">Choose the option you want</p>
        
      </div>
    </div>
    <div class="container"> 
      <!-- Example row of columns -->
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Create Market</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./markets/create" class="btn btn-sm animated-button victoria-two">Create</a> </div>
      </div>


       <div class="row">
        <div class="col-md-12 text-center">
          <h2>Consult 1 Client Record</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./consult1" class="btn btn-sm animated-button victoria-two">Consult1</a> </div>
      </div>

       <div class="row">
        <div class="col-md-12 text-center">
          <h2>Consult 2</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./consult2" class="btn btn-sm animated-button victoria-two">Consult1</a> </div>
      </div>

       <div class="row">
        <div class="col-md-12 text-center">
          <h2>Consult 3</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./consult3" class="btn btn-sm animated-button victoria-two">Consult1</a> </div>
      </div>

       <div class="row">
        <div class="col-md-12 text-center">
          <h2>Consult 4</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./consult4" class="btn btn-sm animated-button victoria-two">Consult1</a> </div>
      </div>

       <div class="row">
        <div class="col-md-12 text-center">
          <h2>Consult 5</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./consult5" class="btn btn-sm animated-button victoria-two">Consult1</a> </div>
      </div>

     

 