<link rel="stylesheet" href="/css/menu.css">
    <div class="jumbotron text-center">
      <div class="container">
        
        <h1>Welcome Employee</h1>
        <p style="color:#888;">Choose the option you want</p>
        
      </div>
    </div>
    <div class="container"> 
      <!-- Example row of columns -->
      
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Create Market</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="./markets-create" class="btn btn-sm animated-button victoria-two">Create</a> </div>
      </div>
     

 