	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->

		<div class="home_slider_container">
			
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item -->
				<div class="owl-item home_slider_item">
	
					<div class="home_slider_content text-center">
						<h1 class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
							<!--<h1>Bienvenido</h1>-->
							<h1>TECMarket</h1>
							<div class="button home_slider_button"><div class="button_bcg"></div><a href="login">Iniciar Sesión</a></div>
							<div class="button home_slider_button"><div class="button_bcg"></div><a href="register">Registrarse</a></div>
						</div>
					</div>
        </div>
	</div>
</div>

		
	
		
	
  









				