<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
          Login
      </div>
      <div class="card-body">
        <form action="/login/new" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

