<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Registrar Usuario 
      </div>
      <div class="card-body">
        <form action="/registrar/nuevo" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="cedula" placeholder="Cédula" autofocus> 
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus> 
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="telefono" placeholder="Telefono" autofocus>
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="fecha" placeholder="Fecha Nacimiento" autofocus> 
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="tipo" placeholder="Tipo" autofocus> 
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="usuario" placeholder="Nombre Usuario" autofocus> 
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" autofocus>
          </div>
          <button class="btn btn-primary btn-block">
            Registrarse
          </button>  
        </form>
      </div>
    </div>
  </div>
</div>