<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar super</h3>
        </div>
        <div class="card-body">
            <form action="/super/edit-super/{{super._id}}?_method=PUT" method="POST">
                 <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="Latitud" class= "form-control" placeholder="Latitud"
                    value = "{{super.latitud}}"/>
                </div>
                <div class="form-group">
                        <input type="text" name="Longitud" class= "form-control" placeholder="Longitud"
                        value = "{{super.longitud}}"/>
                </div>
                <div class="form-group">
                    <input type="text" name="Direccion" class= "form-control" placeholder="Direccion" value = "{{super.direccion}}"/>
                </div>
     
                <div class="form-group">
                    <button class= "btn btn-primary btn-block" type="submit">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>